@charset "UTF-8";
/* Base Color */
/* Mono Tone Color */
/* Layout */
/* Header */
/* Aside */
/* A Link */
/* Component */
/* Font Color */
/* Status */
/* Font Size */
/* Content Size */
/* 조경애 */
.fc-p {
    color: var(--primary-color);
}

.line-innerTxt {
    font-size: 18px;
    line-height: 30px;
}

.prescreening .result-y {
    padding-bottom: 110px;
    background: #fff url(../img/ico/ico_compatibility.png) no-repeat calc(100% - 40px) bottom/80px auto;
}

.certificate-empty .content-top {
    padding-bottom: 140px;
    background: #fff url(../img/ico/ico_certification.png) no-repeat calc(100% - 40px) calc(100% - 30px)/80px auto;
}

.approval-empty .content-top {
    padding-bottom: 160px;
    background: #fff url(../img/ico/img_no_guarantee.png) no-repeat calc(100% - 40px) bottom/120px auto;
}

.error .content-top {
    padding-bottom: 175px;
    background: #fff url(../img/ico/ico_service_fail.png) no-repeat calc(100% - 50px) calc(100% - 30px)/110px auto;
}

.system-check .content-top {
    padding-bottom: 175px;
    background: #fff url(../img/ico/ico_system_check.png) no-repeat calc(100% - 50px) calc(100% - 30px)/85px auto;
}