@charset "UTF-8";
/* Base Color */
/* Mono Tone Color */
/* 조경애 */
.fc-p {
    color: var(--primary-color);
}

.lh30 {
    line-height: 30px !important;
}

.ico-check-fail {
    display: inline-block;
    width: 22px;
    height: 21px;
    vertical-align: -2px;
    background: #fff url(../img/ico/ico_fail_checkbox.png) no-repeat left top/100% auto;
}

.ico-won {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: -4px;
    background: #fff url(../img/ico/ico_amount.png) no-repeat left top/100% auto;
}

.ico-rate {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: -2px;
    background: #fff url(../img/ico/ico_chart.png) no-repeat left top/100% auto;
}

.top-desc {
    padding-top: 18px;
    font-size: 16px;
    line-height: 28px;
}

.btn + .btn {
    margin-left: 5px;
}

.btn-default {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.check-input02 + .check-label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 6px;
    width: 20px;
    height: 20px;
    background: url(../../assets/img/ico/ico_agree_off.png) no-repeat 50% 50%;
    background-size: 20px 20px;
}

.check-input02:checked + .check-label::before {
    background: url(../../assets/img/ico/ico_agree_on.png) no-repeat 50% 50%;
    background-size: 20px 20px;
}

.prescreening .result-y {
    padding-bottom: 110px;
    background: #fff url(../img/ico/ico_compatibility.png) no-repeat calc(100% - 40px) bottom/80px auto;
}

.certificate-empty .content-top {
    padding-bottom: 140px;
    background: #fff url(../img/ico/ico_certification.png) no-repeat calc(100% - 40px) calc(100% - 30px)/80px auto;
}

.approval-empty .content-top {
    padding-bottom: 160px;
    background: #fff url(../img/ico/img_no_guarantee.png) no-repeat calc(100% - 40px) bottom/120px auto;
}

.error .content-top {
    padding-bottom: 175px;
    background: #fff url(../img/ico/ico_service_fail.png) no-repeat calc(100% - 50px) calc(100% - 30px)/110px auto;
}

.system-check .content-top {
    padding-bottom: 175px;
    background: #fff url(../img/ico/ico_system_check.png) no-repeat calc(100% - 50px) calc(100% - 30px)/85px auto;
}

.loan-fail .content-top {
    padding-bottom: 175px;
    background: #fff url(../img/ico/img_loan_fail.png) no-repeat calc(100% - 40px) bottom/130px auto;
}
.loan-fail .info-wrap .tit {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    width: 150px;
}
.loan-fail .txt-desc {
    padding-top: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #666;
}
.loan-fail .txt-desc span {
    display: block;
    padding-top: 10px;
}
.loan-fail .txt-desc a {
    vertical-align: top;
    color: inherit;
}

.loan-amount .txt-won {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: var(--primary-color);
}
.loan-amount .txt-won .num {
    padding-top: 10px;
    text-align: right;
    font-size: 23px;
    font-weight: normal;
}
.loan-amount .txt-won strong {
    font-size: 40px;
    line-height: 58px;
    word-break: break-all;
}
.loan-amount .txt-rate {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: right;
    color: #7367f0;
}
.loan-amount .txt-rate .ico-rate {
    vertical-align: -4px;
}

.box-cont {
    font-size: 18px;
}
.box-cont .b-title {
    padding: 10px 25px;
    line-height: 30px;
    color: #666;
    border-top: 1px solid #e4e8eb;
    border-bottom: 1px solid #e4e8eb;
    background-color: #f4f4f4;
}
.box-cont .b-txt {
    padding: 30px 25px 40px;
}
.box-cont .b-txt dt {
    padding: 30px 0 15px;
    font-weight: bold;
    line-height: 30px;
}
.box-cont .b-txt dt:first-child {
    padding-top: 0;
}
.list-type01 > li {
    position: relative;
    padding-left: 13px;
    line-height: 30px;
}
.list-type01 > li::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 12px;
    width: 6px;
    height: 6px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}
.list-type01 > li + li {
    margin-top: 10px;
}

.list-type02 > li::before {
    content: "∙ ";
}

.list-type03 > li::before {
    content: "※ ";
}

.list-type04 > li {
    position: relative;
    padding: 0 0 0 18px;
    font-size: 16px;
    line-height: 28px;
    color: #666;
}
.list-type04 > li::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 7px;
    top: 12px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #666;
}
.list-type04 > li + li {
    margin-top: 10px;
}

.list-type05 > li::before {
    content: "* ";
}

.box-cont .b-txt .sTxt1 {
    font-size: 16px;
    color: #666;
}
.box-cont .txt-greyBox {
    padding: 12px;
    font-size: 14px;
    line-height: 22px;
    color: #999;
    background-color: #f8f8f8;
    border-radius: 4px;
}

.c-tit01 {
    padding: 0 25px 14px;
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    border-bottom: 1px solid #e4e8eb;
}

.process-wrap {
    overflow: hidden;
    padding: 20px;
    border: 1px solid #e4e8eb;
    border-radius: 4px;
}
.process-wrap .txt-result {
    padding: 60px 0;
    font-size: 23px;
    line-height: 38px;
    text-align: center;
}
.process-wrap .txt-msg {
    font-size: 14px;
    line-height: 22px;
    color: #999;
}
.process-wrap .txt-msg a {
    color: inherit;
    vertical-align: top;
}
.process-wrap .reject {
    padding: 0 0 20px;
}
.process-wrap .reject .tit {
    -ms-flex-preferred-size: 80px;
        flex-basis: 80px;
    width: 80px;
}

.process-h {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
    padding-top: 20px;
}
.process-h li {
    position: relative;
    padding: 28px 15px 0;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--primary-color);
}
.process-h li::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 8px;
    width: 100%;
    height: 1px;
    background: #bebbc9;
}
.process-h li:last-child::before {
    display: none;
}
.process-h li::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 18px;
    height: 18px;
    margin-left: -8px;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    background-color: var(--primary-color);
}
.process-h li.ing {
    font-weight: bold;
}
.process-h li.complete {
    font-weight: bold;
}
.process-h li.ing ~ li, .process-h li.complete ~ li {
    color: #999;
}
.process-h li.ing::after {
    background-color: #fff;
    border-width: 5px;
}
.process-h li.ing ~ li::after, .process-h li.complete ~ li::after {
    border-color: #d8d6de;
    background-color: #fff;
}

.process-v li {
    position: relative;
    padding: 0 0 30px 50px;
    font-size: 18px;
}
.process-v li:last-child {
    padding-bottom: 0;
}
.process-v li::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 9px;
    top: 18px;
    width: 1px;
    height: calc(100% - 18px);
    background-color: #c8c8c8;
}
.process-v li::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 5px solid #c8c8c8;
    border-radius: 50%;
    background-color: #fff;
}
.process-v li:nth-child(2)::after {
    opacity: 0.6;
}
.process-v li:nth-child(3)::after {
    opacity: 0.3;
}
.process-v li .date {
    color: var(--primary-color);
}
.process-v li .pay {
    position: relative;
    margin-top: 20px;
    font-size: 18px;
    line-height: 26px;
}
.process-v li .pay::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -41px;
    top: 12px;
    width: 20px;
    height: 1px;
    background-color: #c8c8c8;
}
.process-v li .pay span {
    display: block;
    padding-top: 4px;
    color: #666;
    font-size: 16px;
    line-height: 26px;
}

.content-terms .section {
    padding-top: 0;
}
.content-terms .section:last-child {
    padding-bottom: 0;
}

.inp-num {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.inp-num .inp.type01 {
    min-width: 90px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.inp-num .txt-hyphen {
    padding: 0 4px;
}