@charset "UTF-8";
/* Base Color */
/* Mono Tone Color */
/* Layout */
/* Header */
/* Aside */
/* A Link */
/* Component */
/* Font Color */
/* Status */
/* Font Size */
/* Content Size */
/* 조경애 */
.fc-p {
    color: var(--primary-color);
}

.line-innerTxt {
    font-size: 18px;
    line-height: 30px;
}

.ico-check-fail {
    display: inline-block;
    width: 22px;
    height: 21px;
    vertical-align: -2px;
    background: #fff url(../img/ico/ico_fail_checkbox.png) no-repeat left top/100% auto;
}

.ico-won {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: -3px;
    background: #fff url(../img/ico/ico_amount.png) no-repeat left top/100% auto;
}

.ico-rate {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: -2px;
    background: #fff url(../img/ico/ico_chart.png) no-repeat left top/100% auto;
}

.top-desc {
    padding-top: 18px;
    font-size: 16px;
    line-height: 28px;
}

.btn + .btn {
    margin-left: 5px;
}

.btn-default {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.check-input02 + .check-label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 6px;
    width: 20px;
    height: 20px;
    background: url(../../assets/img/ico/ico_agree_off.png) no-repeat 50% 50%;
    background-size: 20px 20px;
}

.check-input02:checked + .check-label::before {
    background: url(../../assets/img/ico/ico_agree_on.png) no-repeat 50% 50%;
    background-size: 20px 20px;
}

.prescreening .result-y {
    padding-bottom: 110px;
    background: #fff url(../img/ico/ico_compatibility.png) no-repeat calc(100% - 40px) bottom/80px auto;
}

.certificate-empty .content-top {
    padding-bottom: 140px;
    background: #fff url(../img/ico/ico_certification.png) no-repeat calc(100% - 40px) calc(100% - 30px)/80px auto;
}

.approval-empty .content-top {
    padding-bottom: 160px;
    background: #fff url(../img/ico/img_no_guarantee.png) no-repeat calc(100% - 40px) bottom/120px auto;
}

.error .content-top {
    padding-bottom: 175px;
    background: #fff url(../img/ico/ico_service_fail.png) no-repeat calc(100% - 50px) calc(100% - 30px)/110px auto;
}

.system-check .content-top {
    padding-bottom: 175px;
    background: #fff url(../img/ico/ico_system_check.png) no-repeat calc(100% - 50px) calc(100% - 30px)/85px auto;
}

.loan-fail .content-top {
    padding-bottom: 175px;
    background: #fff url(../img/ico/img_loan_fail.png) no-repeat calc(100% - 40px) bottom/130px auto;
}
.reason .txt-why {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    line-height: 30px;
}
.reason .txt-why dt {
    width: 330px;
}
.reason .txt-desc {
    padding-top: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #666;
}
.reason .txt-desc span {
    display: block;
    padding-top: 10px;
}
.reason .txt-desc a {
    vertical-align: top;
    color: inherit;
}

.loan-amount {
    padding: 43px 0 20px;
}
.loan-amount .txt-won {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: var(--primary-color);
}
.loan-amount .txt-won .num {
    padding-top: 10px;
    text-align: right;
    font-size: 23px;
    font-weight: normal;
}
.loan-amount .txt-won strong {
    font-size: 40px;
    line-height: 58px;
}
.loan-amount .txt-rate {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: right;
    color: #7367f0;
}
.loan-amount .txt-rate .ico-rate {
    vertical-align: -4px;
}

.product-info .section {
    padding: 0;
}

.box-cont {
    font-size: 18px;
}
.box-cont .b-title {
    padding: 10px 25px;
    line-height: 30px;
    color: #666;
    border-top: 1px solid #e4e8eb;
    border-bottom: 1px solid #e4e8eb;
    background-color: #f4f4f4;
}
.box-cont .b-txt {
    padding: 30px 25px 40px;
}
.box-cont .b-txt dt {
    padding: 30px 0 15px;
    font-weight: bold;
    line-height: 30px;
}
.box-cont .b-txt dt:first-child {
    padding-top: 0;
}
.box-cont .b-txt .list-type01 li {
    position: relative;
    margin-top: 10px;
    padding-left: 13px;
    line-height: 30px;
}
.box-cont .b-txt .list-type01 li::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 12px;
    width: 6px;
    height: 6px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}
.box-cont .b-txt .list-type01 li:first-child {
    margin-top: 0;
}
.box-cont .b-txt .list-type02 li::before {
    content: "∙ ";
}
.box-cont .b-txt .list-type03 li::before {
    content: "※ ";
}
.box-cont .b-txt .list-type04 li {
    position: relative;
    padding: 0 0 10px 18px;
    font-size: 16px;
    line-height: 28px;
    color: #666;
}
.box-cont .b-txt .list-type04 li::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 7px;
    top: 12px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #666;
}
.box-cont .b-txt .sTxt1 {
    font-size: 16px;
    color: #666;
}
.box-cont .txt-greyBox {
    padding: 12px;
    font-size: 14px;
    line-height: 22px;
    color: #999;
    background-color: #f8f8f8;
}

.c-tit01 {
    padding: 0 25px 14px;
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    border-bottom: 1px solid #e4e8eb;
}

.process-wrap {
    padding: 20px;
    border: 1px solid #e4e8eb;
}
.process-wrap .process-status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px;
}
.process-wrap .process-status li {
    position: relative;
    padding: 28px 15px 0;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #999;
}
.process-wrap .process-status li::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 8px;
    width: 100%;
    height: 1px;
    background: #bebbc9;
}
.process-wrap .process-status li::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 18px;
    height: 18px;
    margin-left: -8px;
    border: 3px solid #bebbc9;
    border-radius: 50%;
    background-color: #fff;
}
.process-wrap .process-status li:last-child::before {
    display: none;
}
.process-wrap .process-status li.ing, .process-wrap .process-status li.complete {
    color: var(--primary-color);
    font-weight: bold;
}
.process-wrap .process-status li.ing::after {
    border-width: 5px;
    border-color: var(--primary-color);
}
.process-wrap .process-status li.complete::after {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}
.process-wrap .txt-result {
    padding: 60px 0;
    font-size: 23px;
    line-height: 38px;
    text-align: center;
}
.process-wrap .txt-msg {
    font-size: 14px;
    line-height: 22px;
    color: #999;
}
.process-wrap .txt-msg a {
    color: inherit;
    vertical-align: top;
}