:root {
    /* Base Color Set */
    --primary-color: #3982d8;
    --primary-color-rgb: 57, 130, 216;
    --primary-color-rgba: rgba(57, 130, 216, 1);
    --primary-color-hsla: hsla(212, 67%, 54%, 1);
    --black-color: #101010;
    --white-color: #ffffff;
    --a-link-color: #4ba8f3;
    --a-link-hover-color: #409be5;
    /* Font Color */
    --font-heading-color: #2c3238;
    --font-base-color: #2c3238;
    --font-sub-color: #8996a3;
    --font-btn-color: #56606b;
    /* Heading Font Size */
    --font-h1-size: 3.6rem;
    --font-h2-size: 2.4rem;
    --font-h3-size: 2rem;
    --font-h4-size: 1.8rem;
    --font-h5-size: 1.8rem;
    --font-h6-size: 1.8rem;
    /* Font Size */
    --font-xxl-size: 1.6rem;
    --font-xl-size: 1.4rem;
    --font-lg-size: 1.4rem;
    --font-md-size: 1.3rem;
    --font-sm-size: 1.2rem;
    --font-xs-size: 1.1rem;
    --font-xxs-size: 1rem;
    /* Size */
    --component-border-radius: 10px;
    --site-inner-width: 1440px;
}