:root {
    /* Base Color Set */
    --primary-color: #3982d8;
    --primary-color-rgb: 57, 130, 216;
    --primary-color-rgba: rgba(57, 130, 216, 1);
    --primary-color-hsla: hsla(212, 67%, 54%, 1);
    --secondary-color: #2C3238;
    --secondary-color-rgb: 44, 50, 56;
    --secondary-color-rgba: 44, 50, 56, 1;
    --secondary-color-hsla: hsla(210, 12%, 20%, 1);
    --success-color: #04b395;
    --success-color-rgb: 4, 179, 149;
    --success-color-rgba: 4, 179, 149, 1;
    --success-color-hsla: hsla(170, 96%, 36%, 1);
    --danger-color: #f94b50;
    --danger-color-rgb: 249, 75, 80;
    --danger-color-rgba: 249, 75, 80, 1;
    --danger-color-hsla: hsla(358, 94%, 64%, 1);
    --black-color: #101010;
    --white-color: #ffffff;
    --indigo-color: #001b46;
    --mono1-color: #383e48;
    --mono2-color: #717882;
    --mono3-color: #8e9eb5;
    --mono4-color: #9ca4ae;
    --mono5-color: #bdc3cb;
    --mono6-color: #cdd4df;
    --mono7-color: #e3e6ec;
    --mono8-color: #f5f6f8;
    --mono9-color: #f9fbfe;
    --mint1-color: #76e9a8;
    --mint2-color: #f1fcf6;
    --mint3-color: #d6fbe9;
    --mint4-color: #ace9c6;
    --mint5-color: #48b880;
    --mint6-color: #359772;
    --point-color: #4ba8f3;
    --blue1-color: #dbeefd;
    --blue2-color: #b6dbfa;
    --blue3-color: #409be5;
    --blue4-color: #0278d8;
    --graph1-color: #7bd69d;
    --graph2-color: #89c1ef;
    --graph3-color: #f19191;
    --sub1-color: #51cf66;
    --sub2-color: #4ba8f3;
    --sub3-color: #b7a0fa;
    --sub4-color: #ffa94d;
    --sub5-color: #96e2a3;
    --sub6-color: #a5d4fa;
    --sub7-color: #cfc0fa;
    --sub8-color: #ffd6a9;
    /* Status */
    --active-color: #e65858;
    --inactive-color: #e65858;
    --disabled-color: #e65858;
    --disabled-alpha: 0.5;
    /* Layout */
    --wrapper-bg-color: #ebeef2;
    /* Header */
    --header-bg-color: #001b46;
    --header-menu-color: #fff;
    --header-menu-active-color: #75eb89;
    --header-menu-icon-color: #75eb89;
    --a-link-color: #4ba8f3;
    --a-link-hover-color: #409be5;
    /* Component */
    --placeholder-color: #9ca4ae;
    --border-component-color: #8e9eb5;
    --border-table-header-color: #e3e6ec;
    --border-table-body-color: #e3e6ec;
    --bg-table-th-color: #f9fbfe;
    /* Font Color */
    --font-heading-color: #2c3238;
    --font-base-color: #2c3238;
    --font-sub-color: #8996a3;
    --font-btn-color: #56606b;
    /* Heading Font Size */
    --font-h1-size: 3.6rem;
    --font-h2-size: 2.4rem;
    --font-h3-size: 2rem;
    --font-h4-size: 1.8rem;
    --font-h5-size: 1.8rem;
    --font-h6-size: 1.8rem;
    /* Font Size */
    --font-xxl-size: 1.6rem;
    --font-xl-size: 1.4rem;
    --font-lg-size: 1.4rem;
    --font-md-size: 1.3rem;
    --font-sm-size: 1.2rem;
    --font-xs-size: 1.1rem;
    --font-xxs-size: 1rem;
    /* Size */
    --component-border-radius: 10px;
    --site-inner-width: 1440px;
}