:root {
    /* Base Color Set */
    --primary-color: #3982d8;
    --primary-color-rgb: 57, 130, 216;
    --primary-color-rgba: rgba(57, 130, 216, 1);
    --primary-color-hsla: hsla(212, 67%, 54%, 1);
    --black-color: #101010;
    --white-color: #ffffff;
    --a-link-color: #4ba8f3;
    --a-link-hover-color: #409be5;
    /* Font Color */
    --font-heading-color: #2c3238;
    --font-base-color: #2c3238;
    --font-sub-color: #8996a3;
    --font-btn-color: #56606b;
    /* Size */
    --component-border-radius: 10px;
    --site-inner-width: 1440px;
}