@charset "UTF-8";
/* Base Color */
/* Mono Tone Color */
/* Layout */
/* Header */
/* Aside */
/* A Link */
/* Component */
/* Font Color */
/* Status */
/* Font Size */
/* Content Size */
/* 김민정 */
.terms-swiper {
    width: 100%;
    height: 100%;
}
.terms-swiper .swiper-wrapper {
    padding-bottom: 100px;
}
.terms-swiper .swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.terms-swiper .swiper-wrapper .swiper-slide .terms-list img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.terms-swiper .swiper-wrapper .swiper-button-prev,
.terms-swiper .swiper-wrapper .swiper-button-next {
    position: fixed;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.terms-swiper .swiper-button-prev:after,
.terms-swiper .swiper-button-next:after {
    font-size: 28px;
}
.terms-swiper .swiper-pagination {
    position: fixed;
    padding: 25px 0 125px;
    background-color: #fff;
    font-size: 18px;
    line-height: 26px;
}
.terms-swiper .swiper-pagination .swiper-pagination-current {
    font-weight: bold;
}

.fc-01 {
    color: #3982d8 !important;
}

.pop-wrap {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}
.pop-wrap .pop-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 10px;
}
.pop-wrap .pop-inner.pop-s {
    width: 280px;
}
.pop-wrap .pop-inner.pop-l {
    width: 310px;
}
.pop-wrap .pop-inner .pop-header {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 48px 20px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
}
.pop-wrap .pop-inner .pop-header h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
}
.pop-wrap .pop-inner .pop-header .btn-close {
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.pop-wrap .pop-inner .pop-header .btn-close::before {
    content: "";
    background: url(../../assets/img/ico/ico_header_close.png) no-repeat;
    background-size: 28px;
    display: inline-block;
    width: 28px;
    height: 28px;
}
.pop-wrap .pop-inner .pop-content {
    overflow-y: scroll;
    padding: 30px 20px 88px;
}
.pop-wrap .pop-inner .pop-content .desc {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.7px;
    color: #333333;
}
.pop-wrap .pop-inner .pop-header + .pop-content {
    padding-top: 0px;
}
.pop-wrap .pop-inner .pop-btn-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 58px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #cccccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    line-height: 32px;
    text-align: center;
}
.pop-wrap .pop-inner .pop-btn-area.col2 button {
    width: 50%;
}
.pop-wrap .pop-inner .pop-btn-area button + button {
    border-left: 1px solid #cccccc;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.pop-wrap .pop-inner .pop-btn-area .btn-base {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    color: #333333;
}
.pop-wrap .pop-wrap:after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.bottom-sheet {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}
.bottom-sheet .bottom-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 70%;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bottom-sheet .bottom-inner .bottom-header {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 53px 20px 25px;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
}
.bottom-sheet .bottom-inner .bottom-header .btn-close {
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.bottom-sheet .bottom-inner .bottom-header .btn-close::before {
    content: "";
    background: url(../../assets/img/ico/ico_header_close.png) no-repeat;
    background-size: 28px;
    display: inline-block;
    width: 28px;
    height: 28px;
}
.bottom-sheet .bottom-inner .bottom-content {
    overflow-y: scroll;
    padding: 20px 25px 21px;
}
.bottom-sheet .bottom-inner .bottom-header + .bottom-content {
    padding-top: 0;
}

.select-list {
    position: relative;
    width: 100%;
}
.select-list li {
    padding-bottom: 20px;
}
.select-list li button {
    width: 100%;
    font-size: 18px;
    text-align: left;
}
.select-list .col2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.select-list .col2 li {
    width: 50%;
}