@charset "UTF-8";
/* Base Color */
/* Mono Tone Color */
/* Font Size */
/* Content Size */
/* 김윤정 */
/* 공통 */
* + .inp-wrap {
    margin-top: 10px;
}
* + .terms-wrap {
    margin-top: 30px;
}
* + .sele-list-wrap {
    padding-top: 30px;
}

.red-16c {
    color: #f4516c;
}

.u-line {
    text-decoration: underline;
}

.txt-wrap .txt {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
}
.txt-wrap .txt.b-txt {
    font-size: 23px;
    line-height: 38px;
}
.txt-wrap .txt.b-txt + .txt {
    margin-top: 20px;
}
.txt-wrap .txt.s-txt {
    font-size: 16px;
    line-height: 28px;
    color: #666666;
}
.txt-wrap .txt.xs-txt {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
}
.txt-wrap[class*=bg-] {
    padding: 12px;
    border-radius: 4px;
}
.txt-wrap[class*=bg-].bg-gray {
    background-color: #f8f8f8;
}
.txt-wrap b {
    font-weight: bold;
}

.info-card-wrap {
    position: relative;
}
.info-card-wrap.type01 {
    border: 1px solid #d8d6de;
    border-radius: 4px;
    background-color: #fff;
}
.info-card-wrap.type01 a:-webkit-any-link {
    color: #333;
}
.info-card-wrap.type01 + .info-card-wrap {
    margin-top: 20px;
}
.info-card-wrap.type01 > .info-card-cont {
    width: 100%;
    height: 100%;
}
.info-card-wrap.type01 > a.info-card-cont {
    display: block;
}
.info-card-wrap.type01 .tit-wrap {
    position: relative;
    min-height: 50px;
    padding: 14px 20px 9px 58px;
    font-size: 18px;
    line-height: 30px;
    word-break: break-all;
}
.info-card-wrap.type01 .tit-wrap::after {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    top: 15px;
    width: 28px;
    height: 26px;
    background-image: url("../img/ico/ico_document.png");
    background-size: cover;
}
.info-card-wrap.type01 .tit-wrap .name {
    font-weight: bold;
}
.info-card-wrap.type01 .info-list {
    border-top: 1px solid #f4f4f4;
    padding: 10px 20px;
}
.info-card-wrap.type01 .info-list > .item {
    display: flex;
    margin-bottom: 5px;
}
.info-card-wrap.type01 .info-list .txt {
    font-size: 16px;
    line-height: 28px;
    min-width: 50px;
    word-break: break-all;
}
.info-card-wrap.type01 .info-list .txt.tit {
    color: #666;
    margin-right: 14px;
}
.info-card-wrap.type01 .info-card-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sele-list-wrap > h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}
.sele-list-wrap + .link-btn-wrap {
    margin-top: 20px;
}

.content-body.certified .link-btn-wrap {
    display: flex;
    justify-content: flex-end;
}

.order-list > .item {
    font-size: 16px;
    color: #666666;
    padding-left: 20px;
    line-height: 28px;
}
.order-list > .item::after {
    content: attr(data-num);
    position: absolute;
    top: 0;
    left: 0;
}

.ui-decide {
    display: block;
    position: relative;
}
.ui-decide + .ui-decide {
    margin-top: 10px;
}
.ui-decide > input {
    display: block;
    position: relative;
}
.ui-decide > input[type=checkbox] {
    position: absolute;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url("../img/ico/ico_agree_off.png");
    background-size: cover;
}
.ui-decide > input[type=checkbox]:checked {
    background-image: url("../img/ico/ico_agree_on.png");
}
.ui-decide > input[type=checkbox] + .input-label {
    padding-left: 27px;
}
.ui-decide > .input-label {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    color: #666;
}

.terms-wrap .txt-wrap + .ui-cont-wrap {
    margin-top: 20px;
}

.inp-wrap + .link-btn-wrap {
    margin-top: 20px;
}