@charset "UTF-8";
/* Base Color */
/* Mono Tone Color */
/* Layout */
/* Header */
/* Aside */
/* A Link */
/* Component */
/* Font Color */
/* Status */
/* Font Size */
/* Content Size */
/* 김윤정 */
/* 공통 */
* + .inp-wrap {
    margin-top: 10px;
}
* + .terms-wrap {
    margin-top: 30px;
}
* + .sele-list-wrap {
    padding-top: 30px;
}

.red-16c {
    color: #f4516c;
}

.u-b-line { /* border-bottom underline */
    border-bottom: 1px solid;
}

.txt-wrap .txt {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
}
.txt-wrap .txt.b-txt {
    font-size: 23px;
    line-height: 38px;
}
.txt-wrap .txt.b-txt + .txt {
    margin-top: 20px;
}
.txt-wrap .txt.s-txt {
    font-size: 16px;
    line-height: 28px;
    color: #666666;
}
.txt-wrap .txt.xs-txt {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
}
.txt-wrap[class*=bg-] {
    padding: 12px;
    border-radius: 4px;
}
.txt-wrap[class*=bg-].bg-gray {
    background-color: #f8f8f8;
}
.txt-wrap b {
    font-weight: bold;
}

.sele-list *:not(em) {
    display: block;
    position: relative;
}
.sele-list.type01 {
    display: flex;
    background-color: #fff;
    border: 1px solid #bebbc9;
}
.sele-list.type01.radius {
    border-radius: 4px;
}
.sele-list.type01.radius > .item:first-child .item-cont::after {
    border-radius: 4px 0 0 4px !important;
}
.sele-list.type01.radius > .item:last-child .item-cont::after {
    border-radius: 0 4px 4px 0 !important;
}
.sele-list.type01 > .item {
    flex: 1;
}
.sele-list.type01 > .item .item-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 17px 15px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.4;
    color: #bebbc9;
}
.sele-list.type01 > .item .item-cont > img {
    width: 100%;
    max-width: 200px;
}
.sele-list.type01 > .item + .item .item-cont {
    border-left: 1px solid #bebbc9;
}
.sele-list.type01 > .item input:checked + .item-cont {
    font-weight: bold;
    color: #3982d8;
}
.sele-list.type01 > .item input:checked + .item-cont::after {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    border: 2px solid #3982d8;
    z-index: 1;
    border-radius: 0;
}
.sele-list.type02 {
    background-color: #fff;
}
.sele-list.type02 a:-webkit-any-link {
    color: #333;
}
.sele-list.type02 > .item {
    border: 1px solid #d8d6de;
    border-radius: 4px;
}
.sele-list.type02 > .item + .item {
    margin-top: 20px;
}
.sele-list.type02 > .item > .item-cont {
    width: 100%;
    height: 100%;
}
.sele-list.type02 > .item .tit-wrap {
    min-height: 50px;
    padding: 14px 20px 9px 58px;
    font-size: 18px;
    line-height: 30px;
    word-break: break-all;
}
.sele-list.type02 > .item .tit-wrap::after {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    top: 15px;
    width: 28px;
    height: 26px;
    background-image: url("../img/ico/ico_document.png");
    background-size: cover;
}
.sele-list.type02 > .item .tit-wrap .name {
    font-weight: bold;
}
.sele-list.type02 > .item .info-list {
    border-top: 1px solid #f4f4f4;
    padding: 10px 20px;
}
.sele-list.type02 > .item .info-list > .item {
    display: flex;
    margin-bottom: 5px;
}
.sele-list.type02 > .item .info-list .txt {
    font-size: 16px;
    line-height: 28px;
    min-width: 50px;
    word-break: break-all;
}
.sele-list.type02 > .item .info-list .txt.tit {
    color: #666;
    margin-right: 14px;
}
.sele-list.type02 > .item .item-cont-wrap-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.sele-list.type03 > .item + .item {
    margin-top: 30px;
}
.sele-list.type03 .link-btn-wrap {
    margin-top: 20px;
}
.sele-list.type03 .question-wrap .txt + .order-list {
    margin-top: 20px;
}
.sele-list.type03 .answer-wrap {
    margin-top: 20px;
}

.sele-list-wrap > h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}
.sele-list-wrap + .link-btn-wrap {
    margin-top: 20px;
}

.content-body.certified .link-btn-wrap {
    display: flex;
    justify-content: flex-end;
}

.link-btn.type01 {
    display: block;
    position: relative;
    padding-bottom: 4px;
    border-bottom: 1px solid #3982d8;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #3982d8;
}

[class*=ico-] {
    position: relative;
}
[class*=ico-].right {
    padding-right: 24px;
}
[class*=ico-].right::after {
    right: 0;
}
[class*=ico-].left {
    padding-left: 24px;
}
[class*=ico-].left::after {
    left: 0;
}
[class*=ico-].ico-blue-arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 22px;
    height: 22px;
    background-image: url("../img/ico/ico_blue_arrow.png");
}

.order-list > .item {
    font-size: 16px;
    color: #666666;
    padding-left: 20px;
    line-height: 28px;
}
.order-list > .item::after {
    content: attr(data-num);
    position: absolute;
    top: 0;
    left: 0;
}

.ui-decide {
    display: block;
    position: relative;
}
.ui-decide + .ui-decide {
    margin-top: 10px;
}
.ui-decide > input {
    display: block;
    position: relative;
}
.ui-decide > input[type=checkbox] {
    position: absolute;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url("../img/ico/ico_agree_off.png");
    background-size: cover;
}
.ui-decide > input[type=checkbox]:checked {
    background-image: url("../img/ico/ico_agree_on.png");
}
.ui-decide > input[type=checkbox] + .input-label {
    padding-left: 27px;
}
.ui-decide > .input-label {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    color: #666;
}

.terms-wrap .txt-wrap + .ui-cont-wrap {
    margin-top: 20px;
}

.inp-wrap + .link-btn-wrap {
    margin-top: 20px;
}

.inp.type01 {
    width: 100%;
    background: #fff;
    border: 1px solid #d8d6de;
    border-radius: 4px;
    font-size: 18px;
    text-align: left;
    color: #333;
    font-weight: 400;
}