@charset "UTF-8";
/* Base Color */
/* Mono Tone Color */
/* Layout */
/* Header */
/* Aside */
/* A Link */
/* Component */
/* Font Color */
/* Status */
/* Font Size */
/* Content Size */
/* 이하은 */
.content .content-body .content-top {
    position: relative;
}
.content .content-body .content-top.line-be4 {
    border-bottom: 2px solid #e4e8eb;
}
.content .content-body .content-top .top-txt {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
}
.content .content-body .content-top .top-num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 35px;
    line-height: 28px;
}
.content .content-body .content-top .payment-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.content .content-body .content-top .payment-img img {
    width: 24vw;
}
.content .content-body .section .info-wrap {
    padding: 10px 0;
}
.content .content-body .section .info-wrap .info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 18px;
    line-height: 28px;
}
.content .content-body .section .info-wrap .info-box + .info-box {
    margin-top: 10px;
}
.content .content-body .section .info-wrap .info-box .info-label {
    display: inline-block;
    position: relative;
    width: calc(100% - 30px);
    word-break: keep-all;
}
.content .content-body .section .info-wrap .info-box:last-child {
    margin-bottom: 0;
}
.content .content-body .section .step-list .step-item {
    font-size: 16px;
    line-height: 28px;
}
.content .content-body .section .step-list .step-item + .step-item {
    margin-top: 20px;
}
.content .content-body .section .step-list .step-item .step-tit {
    margin-bottom: 5px;
}
.line-bf4 {
    border-bottom: 2px solid #f4f4f4;
}

.content .content-body .section .noti-list {
    font-size: 16px;
}
.content .content-body .section .noti-list.pad-15 {
    padding: 15px;
}
.content .content-body .section .noti-list.bg-f8 {
    background-color: #f8f8f8;
}
.content .content-body .section .noti-list .noti-tit {
    margin-bottom: 15px;
    font-size: 16px;
}
.content .content-body .section .noti-list .noti-item .noti-txt {
    margin-bottom: 10px;
    padding-left: 5px;
    line-height: 28px;
}
.content .content-body .section .noti-list .noti-item .noti-txt.list-st1 {
    list-style-type: "·";
}
.content .content-body .section .noti-list .noti-item .noti-txt.list-st2 {
    list-style-type: "*";
}
.content .content-body .section .chk-txt {
    margin-top: 30px;
    font-size: 18px;
}

.ai-c {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
}

.fc-3 {
    color: #333333;
}

.fc-6 {
    color: #666666;
}

.fc-9 {
    color: #999999;
}