@charset "UTF-8";
/* Base Color */
/* Mono Tone Color */
/* Font Size */
/* Content Size */
/* 이하은 */
.commitment .box-list-wrap {
    display: block;
    background-color: #fff;
    border: 1px solid #d8d6de;
    border-radius: 4px;
    overflow: hidden;
}
.commitment .box-list-wrap .box-list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding: 17px 15px;
}
.commitment .box-list-wrap .box-list-header .tit {
    font-size: 16px;
    font-weight: 500;
    width: calc(100% - 30px);
}
.commitment .box-list-wrap .box-list-header .box-list-open::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    right: 17px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: url(/views/assets/img/ico/ico_form_open.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}
.commitment .box-list-wrap .box-list-header .box-list-hide::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    right: 17px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: url(/views/assets/img/ico/ico_form_follding.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}
.commitment .box-list-wrap .box-list-cont {
    display: none;
    -webkit-transition: all 0.6s cubic-bezier(0.44, 0.94, 0.8, 1.06);
    transition: all 0.6s cubic-bezier(0.44, 0.94, 0.8, 1.06);
}
.commitment .box-list-wrap .box-list-cont > .txt {
    font-size: 14px;
    line-height: 22px;
}
.commitment .box-list-wrap .box-list-cont.active {
    display: block;
    padding: 0 15px 17px;
}
.commitment .box-list-wrap + .box-list-wrap {
    margin: 20px 0;
}